# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/default/settings.php.save


sites/all/themes/cornel/.sass-cache/*/base.scssc
sites/all/themes/cornel/.sass-cache/*/*

sites/all/themes/cornel/.sass-cache/**
sites/all/themes/cornel/.sass-cache**
**/.sass-cache
**/.sass-cache/*
**.sass-cache**
.sass-cache
.sass-cache/*
