/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

/*General font*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

// Optionally, add your own components here.
// @import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


$bodyColor: #f7f7f2;
$munuInactiveColor: #acacac;
$teaserTitleBgColor: #0faea9;
$globalTextColor: #2c2c2c;
$linkHover: #cc4054;

/*-------------------------*/

body {
  background: $bodyColor;
  font-family: 'PT Sans Narrow', sans-serif;
  color : $globalTextColor;
}

a {
  color:#333;
  outline: medium none;
  text-decoration: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
a:visited {
  color:rgba(51, 51, 51, 0.81);
}
a:hover {
  color:$linkHover;
  text-decoration: none;
}
a:active {
  color:#0000FF;
}

.field-type-text-with-summary {
  a {
    color: $linkHover;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

p {
  margin: 4px 0;
  font-size: 1.1em;
}

.messages.status {
  background-color: #f8fff0;
  border: 1px #be7 solid;
  display: block;
}

.page-wrapper {
  max-width: 1170px;
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}
header {
  // no header
}

nav {
  background-color: transparent;
  #main-menu {  
    text-transform: uppercase;
    float:left;
    margin: 6px 0 0 0;
    li {
      float:left;
      padding:0;
      a {
        display: block;
        padding: 0px 10px;
        font-weight: bold;
        color: $munuInactiveColor;
        font-size: 1.43em;
        &:hover, &.active {
          color: #131313;
        }
      }
      &.first {
        a {
          padding: 0 10px 0 0px;
        }
      }
    }

  }
  .region-header {
    float:right;
    .block-search{
      .search-block-form{

      }
    }
  }

  .social-buttons {
    float: right;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-image: none;

      li {
        display: inline;
        a {
          text-decoration: none;
          margin: 4px;
          /*padding: 5px 20px 5px 20px;*/
          color: #85848a;
          background: none;
          width: 26px;
          height: 33px;
          display: inline-block;
          /*float: left;*/

          //-webkit-transition: background 0.2s ease-out;
          //-moz-transition: background 0.2s ease-out;
          //-o-transition: background 0.2s ease-out;
          //transition: background 0.2s ease-out;
          cursor: pointer;
        }

        &[rel="linked-in"] a {
          background: url("../images/social/social_icons.png") 0 0;
        }

        &[rel="twitter"] a {
          background: url("../images/social/social_icons.png") -42px 0;
        }

        &[rel="fb"] a {
          background: url("../images/social/social_icons.png") -75px 0;
        }

        &[rel="rss"] a {
          background: url("../images/social/social_icons.png") -155px 0;
        }
        &[rel="g-plus"] a {
          background: url("../images/social/social_icons.png") -238px 0;
        }
        &[rel="github"] a {
          background: url("../images/social/social_icons.png") 0px 0;
        }
      }
    }
  }
}

.basic-list {  

  .view-content {
    text-align:center;
    width: 100%;
    .views-row {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      background: #fff;
      vertical-align: top;
      margin-bottom:15px;

      article {
        //overflow:hidden;
        position:relative;
        .field-item {
          .content {
            a {
              display: block;
              min-width:200px;
              max-width:387px;
              img {
                height: auto;
                width: 100%;
              }
            }
          }
        }

        header {
          position: relative;
          background: $teaserTitleBgColor;
          //background: rgba(50, 179, 140, 0.6);
          padding: 5px 0;
          z-index: 99;
          width:100%;
          padding-right: 0;
          padding-left: 0;
          h2 {
            margin:0;
            a {
              color:$bodyColor;
              font-size: 22px;
              &:hover {
                //color: #131313;
              }
            }
          }
        }

        .links {
          float:right;
          margin: 7px 0 0 0;
          &.inline {
            li {
              padding: 0 8px 0 0;
            }
            .disqus_comments_num {
              display: none; // submit a patch for disqus on drupal org.
            }
            .node-readmore {


              a {
                border: 1px solid #c0bfbf;
                padding: 5px 12px;
                text-transform: uppercase;
                &:hover {
                  border-color: #918e8e;
                  -webkit-transition:border-color 0.5s ease; -moz-transition:border-color 0.5s ease; -o-transition:border-color 0.5s ease; transition:border-color 0.5s ease;

                }
              }
            }
          }
        }
        .field {
          padding: 8px;

          .geshifilter {
            text-align: left;
            margin: 0;
          }
        }
      }
    }
  }
}

.node-type-article {

  nav {
    background-color: transparent;
    #main-menu {  
      li.menu-1604 { // Code Snippets
        a {
          color: #131313;
        }
      }
    }
  }

  .main-wrapper {
    background: #fff;
    padding: 10px;
    article {
      .sharerich-wrapper {
        clear: both;
      }

      .field {
        margin-bottom: 10px;
      }
      .field-name-body {

      }
    }
  }

}

.node-type-page {
  .main-wrapper {
    background: #fff;
    padding: 10px;
    .page-title {
      display: none;
    }
  }
}

.field {

  &.field-name-field-tags {
    float:left;


    .field-items {
      &::before{
        content: ' ';
        background: transparent url(../images/cornel_co_tags.png) no-repeat;
        width: 25px;
        height: 15px;
        display: inline-block;
        margin: 0 8px 0 0;
      }

      .field-item {
        display: inline-block;
        margin: 0 2px;
        line-height: 22px;
        font-size: 18px;
        top: -2px;
        position: relative;

        a {

        }

        &::after {
          content: "/";
          margin-left: .2em;
          font-weight: bold;
        }

        &:last-child {
          &::after {
            content: "";
          }
        }
      }
    }
  }


  .geshifilter {
    text-align: left;
    margin: 0;
  }
}


.page-contact {
  .main-wrapper {
    .page-title{
      text-align: center;
    }
  }
}

/*Start pager*/
.pager li>a, .pager li>span {
  display: inline-block;
  padding: 1px 8px 3px 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}

.pager .pager-current {
  color: $linkHover;

}

.pager li>a:hover, .pager li>a:focus {
  text-decoration: none;
  background-color: $linkHover;
  color:#fff;
}
/*End pager*/

.footer {
  text-align: center;
  .block {
    margin-bottom: 0;
    p {
      color: $munuInactiveColor;
      margin: 0;
      padding: 10px 0;
      a {
        color: $munuInactiveColor;
        &:hover {
          color: $teaserTitleBgColor;
        }
      }
    }
  }
}


input[name=search_block_form] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[name=search_block_form] {
  background: #ededed url(../images/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.form-item-search-block-form input[name=search_block_form]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

// Main BreackPoints.
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  .page-wrapper {
    width: 90%;
  }
  .basic-list{

    .view-content {
      .views-row {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}



/*Temporary styles*/
/* Contacts */

.contact-form {
  width: 65%;
  margin: 0 auto;
  max-width: 500px;
}

.contact-form .form-item{
  margin: 18px 0 25px;
}

.page-contacts .pane-contact form label {
  font-size: 14px;
  font-family: 'source_sans_probold';
  margin-bottom: 4px;
  font-weight: normal;
}

.contact-form input {
  border: none;
  border-bottom: 1px solid #aeaeae;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: transparent;
  padding: 10px 0;
  //background: #FCFCFC url('../images/contact_input.png') repeat-x top;
  font-size: 14px;
  color: #4D5357;
  margin: 5px 0;
  display: block;
  width: 100%;

  &:focus {
    outline: none;
  }
  &.error {
    border-bottom:2px solid red;
  }
  &.form-submit {
    width: 125px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #c0bfbf;
    margin-top: 10px;
    padding: 8px;
    &:hover {
      color: #cc4054;
    }
  }
}
$contactMaxWidth: 500px;
.contact-form {
  .form-type-checkbox {
    display: none;
  }
}



.form-textarea-wrapper {
  max-width: $contactMaxWidth;
  width: 100%;
  textarea{
    color: #4D5357;
    width: 100%;
    max-width: $contactMaxWidth;
    display: block;
    background: transparent;
    border: none;
    resize: none;
    border-bottom: 1px solid #EFEFEF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background: transparent;
    padding: 10px 0;
    &.error {
      border-bottom:2px solid red;
    }
  }
}