/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

/*General font*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

// Optionally, add your own components here.
// @import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


$bodyColor: #f7f7f2;
$munuInactiveColor: #acacac;
$teaserTitleBgColor: #0faea9;
$globalTextColor: #2c2c2c;



.messages {
  display:none;
}

body {
  background: $bodyColor;
  font-family: 'PT Sans Narrow', sans-serif;
  color : $globalTextColor;
}
a {color:#333;}      /* unvisited link */
a:visited {color:rgba(51, 51, 51, 0.81);}  /* visited link */
a:hover {
  color:#326;
  text-decoration: none;
}
a:active {color:#0000FF;}  /* selected link */

.page-wrapper {
  max-width: 1170px;
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
}
header {
  // no header
}

nav {
  background-color: transparent;
  #main-menu {  
    text-transform: uppercase;
    float:left;
    margin: 0;
    li {
      float:left;
      padding:0;
      a {
        display: block;
        padding: 0px 10px;
        font-weight: bold;
        color: $munuInactiveColor;
        font-size: 1.3em;

        &:hover, &.active {
          color: #131313;
        }
      }
    }
  }
  .region-header {
    float:right;
    .block-search{
      .search-block-form{

      }
    }
  }
}

.basic-list {  

  .view-content {
    text-align:center;
    width: 100%;
    .views-row {
      display: inline-block;
      box-sizing: border-box;
      width: 49%;
      background: #fff;
      vertical-align: top;

      article {
        overflow:hidden;
        position:relative;
        .field-item {
          .content {
            a {
              display: block;
              min-width:200px;
              max-width:387px;
              img {
                height: auto;
                width: 100%;
              }
            }
          }
        }

        header {
          position: relative;
          background: $teaserTitleBgColor;
          //background: rgba(50, 179, 140, 0.6);
          padding: 5px 0;
          z-index: 99;
          width:100%;
          h2 {

            margin:0;
            a {
              color:$bodyColor;
              font-size: 22px;
            }
          }
          &.on-top {
            top: 0;
          }
          &.on-bottom {
            bottom:0;
          }
        }

        .links {
          &.inline {
            .disqus_comments_num {
              display: none; // submit a patch for disqus on drupal org.
            }
            .node-readmore {
              a {
                border: 1px solid $bodyColor;
                padding: 5px 12px;
                text-transform: uppercase;
              }
            }
          }
        }
        .field {
          padding: 8px;
          .geshifilter {
            text-align: left;
          }
        }
      }
    }
  }
}

.page-node {
  .main-wrapper {
    background: #fff;
    padding: 10px;
    .page-title{
      text-align: center;
    }
  }
}

.page-contact {
  .main-wrapper {
    .page-title{
      text-align: center;
    }
  }
}

/*Start pager*/
.pager li>a, .pager li>span {
  display: inline-block;
  padding: 1px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}

.pager .pager-current {
  color: #32b38c;

}

.pager li>a:hover, .pager li>a:focus {
  text-decoration: none;
  background-color: #32b38c;
  color:#fff;
}
/*End pager*/

.footer {
  text-align: center;
  .block {
    margin-bottom: 0;
    p {
      color: $munuInactiveColor;
      margin: 0;
      padding: 10px 0;
      a {
        color: $munuInactiveColor;
        &:hover {
          color: $teaserTitleBgColor;
        }
      }
    }
  }
}


input[name=search_block_form] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[name=search_block_form] {
  background: #ededed url(../images/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.form-item-search-block-form input[name=search_block_form]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

// Main BreackPoints.
@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  .page-wrapper {
    width: 90%;
  }
  .basic-list{

    .view-content {
      .views-row {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}