/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
@import "components/misc";

/*General font*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

// Optionally, add your own components here.
// @import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


$bodyColor : #f9f9f9;


.messages {
  display:none;
}

body {
  background: $bodyColor;
  font-family: 'PT Sans Narrow', sans-serif;
}
a {color:#333;}      /* unvisited link */
a:visited {color:rgba(51, 51, 51, 0.81);}  /* visited link */
a:hover {
  color:#326;
  text-decoration: none;
}
a:active {color:#0000FF;}  /* selected link */

.page-wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
header {

  &.page-header {
    //background: #32b38c;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-color: #32b38c;
    background-position:1%;
    margin: 0;
    border-bottom: 3px solid #333;
    padding: 10px 40px;
    color: #fff;
    position:relative;

    .name-and-slogan {
      margin-left: 80px;
      float:left;
      .site-name {
        margin: 10px 0;
        a{
          font-size: 48px;
          color: #fff;
        }
      }

      .site-slogan {
        color: #fff;
        font-size: 18px;
        -moz-opacity: .5;
        -khtml-opacity: .5;
        -webkit-opacity: .5;
        opacity: .5;
        -ms-filter: alpha(opacity=50);
        filter: alpha(opacity=50);
      }
    }

    .fb-like {
      bottom: 5px;
      right: 5px;
      position: absolute;
    }

    a {
      &#logo {
        img {
          width: 150px;
        }
      }
    }
  }

}

nav {
  background-color: #292929;
  #main-menu {  
    text-transform: uppercase;
    li {
      float:left;
      padding:0;
      a {
        display: block;
        padding: 10px 20px;
        font-weight: bold;
        color: #fff;
        font-size: 1.3em;
        background-size: 100% 200%;
        background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(50%,#32b38c),color-stop(50%,#292929));
        background-image: -webkit-linear-gradient(top,#32b38c 50%,#292929 50%);
        background-image: -moz-linear-gradient(top,#32b38c 50%,#292929 50%);
        background-image: -o-linear-gradient(top,#32b38c 50%,#292929 50%);
        background-image: linear-gradient(top,#32b38c 50%,#292929 50%);
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        background-position: 0 -100%;
        &:hover, &.active {
          background-color: #32b38c;
          color: #fff;
          background-position: 0 0;
        }
      }
    }
  }
}


.pane-node-related-node-related,
.pane-node-related-most-popular,
.basic-list {
  .pane-title {
    text-align: center;
    height: 40px;
    overflow: hidden;
    line-height: 1.32353em;
    margin: 15px 0;
    position: relative;
    font-size: 2em;

    span {
      color: #222;
      background-color: $bodyColor;
      //text-transform: uppercase;
      padding: 0 .5em;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;

      &:after,
        &:before {
        content: '';
        position: absolute;
        border-top: 5px solid #222;
        //border-color: #32b38c;
        top: 45%;
        width: 100%;
      }

      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }

    }



  }
}

.basic-list {  

  .view-content {
    text-align:center;
    width: 100%;
    .views-row {
      display: inline-block;
      box-sizing: border-box;

      article {
        overflow:hidden;
        position:relative;
        .field-item {
          .content {
            a {
              display: block;
              min-width:200px;
              max-width:387px;
              img {
                height: auto;
                width: 100%;
              }
            }
          }
        }

        header {
          position: absolute;        
          left: 0;
          top: 3%;
          //bottom:10%;
          float: left;
          background: rgba(90, 95, 105, 0.8);
          //background: rgba(50, 179, 140, 0.6);
          padding: 5px 0;
          z-index: 99;
          width:100%;
          h2 {

            margin:0;
            a {
              color:#fff;
              font-size: 22px;
            }
          }
          &.on-top {
            top: 0;
          }
          &.on-bottom {
            bottom:0;
          }
        }
      }
    }
  }
}

/*Start pager*/
.pager li>a, .pager li>span {
  display: inline-block;
  padding: 1px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}

.pager .pager-current {
  color: #32b38c;

}

.pager li>a:hover, .pager li>a:focus {
  text-decoration: none;
  background-color: #32b38c;
  color:#fff;
}
/*End pager*/


@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  .panel-col-first {
    width: 100%!important;
  }

  .panel-col-last {
    width: 100%!important;
  }

  .page-header .fb-like {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}


.base-node {
  .panel-2col {
    .panel-col-first {
      float: left;
      width: 66.66667%;

      .pane-node-sharerich-1 {
        margin-bottom: 10px;
      }
      .pane-rate-widget {
        float: right;
        margin-top: 20px;
        margin-right: 10px;

        .rate-info {
          //display: none;
        }
        .percent {
          line-height: 30px;
        }
      }

      .pane-node-article-bottom-info {
        font-family: "Lato",Arial,Verdana,"Bitstream Vera Sans",sans-serif;
        background: #fff;
        box-shadow: 0px 1px 2px rgba(50, 179, 140, 0.3);
        margin: 15px 0;
        z-index: 1;
        min-height: 55px;
      }      

      .field-name-body {        
        font-size: 20px;        
        padding: 3px 0 1px 10px;
        p {
          margin: 0;
        }
      }

      .field-name-field-music-in-video {
        padding: 10px 10px 3px 10px;
        z-index: 2;
        font-size: 13px;
        color: #777;
        a {
          color: #777;  
        }
      }

      .media-vine-video {
        text-align: center;
      }

    }

    .panel-col-last {
      clear: none;
      float: left;
      width: 30.33333%;
      padding-left: 10px;
      .pane-node-related-node-related,
      .pane-node-related-most-popular {
        .pane-title {
          margin-bottom: 15px;
          //left: 20px;
          position: relative;
          font-size: 2em;
        }
        .view-content {
          .views-row {
            margin-bottom:15px;
            header {
              width: 67%;
              float: right;
              h2 {
                font-size: 18px;
                margin: 0;
                padding: 0;
              }
            }
            .field-name-field-video-single {
              //left: 20px;
              position: relative;
              width: 30%;
              img{
                width: 100%;
              }
            }
          }
        }
      }

      .pane-node-related-node-related {
        margin-bottom: 30px;
      }
    }
  }
}

// ---- Reproduce the rate styles with our changes (background) ---

.rate-widget-thumbs_up_down ul {
  list-style: none;
  overflow: hidden;
}
.rate-widget-thumbs_up_down ul li {
  background-image: none;
  padding: 0;
  margin: 0;
}
.rate-widget-thumbs_up_down ul li {
  float: left;
  list-style: none;
}
.rate-widget-thumbs_up_down ul li a {
  display: block;
  float: left;
}
.rate-widget-thumbs_up_down .percent {
  float: left;
}
.rate-thumbs-up-down-btn-up {
  display: inline-block;
  background: url("../images/rate_thumbs.png") no-repeat 0px -48px;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}
.rate-user .rate-thumbs-up-down-btn-up {
  background: url("../images/rate_thumbs.png") no-repeat 0px -48px;
  float: right;
}
.rate-thumbs-up-down-btn-up.rate-voted {
  background: url("../images/rate_thumbs.png") no-repeat 0px 0px;
}
.rate-widget-thumbs_up_down .thumb-up a {
  float: right;
}
.rate-thumbs-up-down-btn-down {
  display: inline-block;
  background: url("../images/rate_thumbs.png") no-repeat 0px -72px;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}
.rate-user .rate-thumbs-up-down-btn-down {
  background: url("../images/rate_thumbs.png") no-repeat 0px -72px;
}
.rate-thumbs-up-down-btn-down.rate-voted {
  background: url("../images/rate_thumbs.png") no-repeat 0px -96px;
}
.rate-thumbs-up-down-rating-up {
  display: inline-block;
  width: 45px;
  text-align: right;
  padding-top: 3px;
}
.rate-thumbs-up-down-rating-down {
  display: inline-block;
  width: 45px;
  text-align: left;
  padding-top: 3px;
}

// ---- End Reproduce the rate styles  ---

.footer {
  text-align: center;
  background: #333;
  color: #fff;
  .block {
    margin-bottom: 0;
    p {
      margin: 0;
      padding: 10px 0;
    }
  }
}


input[name=search_block_form] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[name=search_block_form] {
  background: #ededed url(../images/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.form-item-search-block-form input[name=search_block_form]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
